In [142]:
import os
import json
import random
import csv
import math
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [40]:
file_loc = '../docs/data/matrix_files/mprobc_chr1_100kb.txt'

In [41]:
with open(file_loc) as input_:
    stripped = [line.strip() for line in input_]
    lines = [s.split('\t')[1:] for s in stripped if s]

header = []
final_list=[]

for counter,line in enumerate(lines[1:]):
    abc = line[0]
    header.append(abc)
    new_list = [abc] + [int(math.fabs(math.floor(float(x)))) for x in line[1:]]
    final_list.append(new_list)


with open('./mprobc_chr1_100kb.csv', 'wt') as out_file:
    tsv_writer = csv.writer(out_file, delimiter=',')
    for i in final_list:
        tsv_writer.writerow(i)

In [87]:
df = pd.read_csv('mprobc_chr1_100kb.csv',delimiter=',',header=None,index_col=None)

In [59]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954
0,chr1-0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,chr1-100000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,chr1-200000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,chr1-300000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,chr1-400000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
df.describe()

,1,2,3,4,5,6,7,8,9,10,...,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954
count,1954.0,1954.0,1954.0,1954.0,1954.0,1954.0,1954.0,1954.0,1954.0,1954.0,...,1954.000000,1954.000000,1954.000000,1954.000000,1954.000000,1954.000000,1954.000000,1954.000000,1954.000000,1954.000000
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.639713,10.533265,11.398669,11.603889,9.344422,8.917605,7.702661,8.166837,4.943705,2.658649
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,278.823311,338.968998,371.317606,378.348801,300.309747,279.044595,243.959506,256.616012,151.828905,76.503062
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.000000,2.000000,3.000000,3.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12320.000000,14980.000000,16410.000000,16720.000000,13270.000000,12330.000000,10780.000000,11340.000000,6708.000000,3380.000000

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1954 entries, 0 to 1953
Columns: 1955 entries, 0 to 1954
dtypes: int64(1954), object(1)
memory usage: 29.1+ MB

In [88]:
header = df.pop(0)
df.head()

,1,2,3,4,5,6,7,8,9,10,...,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Normalization
Scaling The values between zero and one

In [92]:
scaler = MinMaxScaler() 
scaled_values = scaler.fit_transform(df) 
df.loc[:,:] = scaled_values

In [51]:
df.describe()

,1,2,3,4,5,6,7,8,9,10,...,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954
count,1954.0,1954.0,1954.0,1954.0,1954.0,1954.0,1954.0,1954.0,1954.0,1954.0,...,1954.000000,1954.000000,1954.000000,1954.000000,1954.000000,1954.000000,1954.000000,1954.000000,1954.000000,1954.000000
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000701,0.000703,0.000695,0.000694,0.000704,0.000723,0.000715,0.000720,0.000737,0.000787
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.022632,0.022628,0.022628,0.022629,0.022631,0.022631,0.022631,0.022629,0.022634,0.022634
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000081,0.000067,0.000061,0.000060,0.000075,0.000081,0.000093,0.000088,0.000149,0.000000
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000162,0.000134,0.000183,0.000179,0.000151,0.000162,0.000186,0.000176,0.000149,0.000296
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [147]:
frequency_threshold = 0.025
df2 =  df

thres_inter_tar = []
thres_inter_sou = []
frequency = []
size = []
for chr_loc, i in enumerate(df2.iterrows()):
    
    list_ = list(i[1])
#     print(i[1])
    for counter,j in enumerate(list_):
        if j >= frequency_threshold:
#             print(j)
            if header[counter] == header[chr_loc]:
                continue
            else:
                thres_inter_tar.append(header[counter])
                frequency.append(j)
                thres_inter_sou.append(header[chr_loc])
                size.append(random.randint(1,9))
        else:
            continue

In [148]:
df_write = pd.DataFrame({
    'source':thres_inter_tar,
    'target':thres_inter_sou,
    'weight':frequency,
    'size':size,
})

In [149]:
df_write.to_csv('cis.csv',index=False)

In [150]:
df_write

             source          target    weight  size
0      chr1-7000000    chr1-7100000  0.025136     9
1      chr1-9700000    chr1-9800000  0.027001     6
2     chr1-13600000   chr1-13500000  0.029473     4
3     chr1-13500000   chr1-13600000  0.028725     9
4     chr1-16600000   chr1-16500000  0.026081     3
5     chr1-16500000   chr1-16600000  0.026855     2
6     chr1-36200000   chr1-36100000  0.033192     3
7     chr1-36100000   chr1-36200000  0.030485     8
8     chr1-36300000   chr1-36200000  0.033845     3
9     chr1-36200000   chr1-36300000  0.036099     1
10    chr1-36600000   chr1-36500000  0.036232     4
11    chr1-36500000   chr1-36600000  0.031508     6
12    chr1-36700000   chr1-36800000  0.025542     4
13    chr1-36900000   chr1-36800000  0.031844     9
14    chr1-36800000   chr1-36900000  0.028699     8
15    chr1-37400000   chr1-37300000  0.025485     5
16    chr1-37500000   chr1-37400000  0.032320     9
17    chr1-37600000   chr1-37400000  0.028585     9
18    chr1-37400000   chr1-37500000  0.030950     9
19    chr1-37600000   chr1-37500000  0.032531     6
20    chr1-37400000   chr1-37600000  0.030337     8
21    chr1-37500000   chr1-37600000  0.036053     4
22    chr1-38700000   chr1-38600000  0.028060     8
23    chr1-38600000   chr1-38700000  0.026342     1
24    chr1-40100000   chr1-40000000  0.026736     7
25    chr1-43900000   chr1-44000000  0.025637     6
26    chr1-51500000   chr1-51400000  0.032483     4
27    chr1-51400000   chr1-51500000  0.038124     8
28    chr1-52200000   chr1-52100000  0.028837     2
29    chr1-52700000   chr1-52800000  0.026330     8
..              ...             ...       ...   ...
280  chr1-181200000  chr1-181100000  0.038743     4
281  chr1-181100000  chr1-181200000  0.038232     9
282  chr1-181900000  chr1-182000000  0.025129     3
283  chr1-182300000  chr1-182400000  0.025095     9
284  chr1-183400000  chr1-183300000  0.025749     5
285  chr1-184000000  chr1-183900000  0.027708     1
286  chr1-189800000  chr1-189700000  0.035920     7
287  chr1-189700000  chr1-189800000  0.037977     1
288  chr1-191000000  chr1-190900000  0.030564     3
289  chr1-190900000  chr1-191000000  0.030306     4
290  chr1-191200000  chr1-191000000  0.026358     4
291  chr1-191200000  chr1-191100000  0.035475     3
292  chr1-191000000  chr1-191200000  0.029712     3
293  chr1-191100000  chr1-191200000  0.041173     7
294  chr1-191400000  chr1-191300000  0.033170     2
295  chr1-191500000  chr1-191300000  0.041439     3
296  chr1-191300000  chr1-191400000  0.039259     4
297  chr1-191500000  chr1-191400000  0.038486     5
298  chr1-191300000  chr1-191500000  0.044702     9
299  chr1-191400000  chr1-191500000  0.035078     2
300  chr1-191600000  chr1-191700000  0.025460     4
301  chr1-192000000  chr1-191900000  0.026712     7
302  chr1-192700000  chr1-192800000  0.026131     5
303  chr1-192900000  chr1-192800000  0.026391     6
304  chr1-193200000  chr1-193100000  0.028277     3
305  chr1-193100000  chr1-193200000  0.025401     5
306  chr1-193300000  chr1-193200000  0.037366     3
307  chr1-193100000  chr1-193300000  0.028370     5
308  chr1-193200000  chr1-193300000  0.049025     9
309  chr1-195200000  chr1-195100000  0.028772     4

[310 rows x 4 columns]